# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/uploads/
backend/*.egg-info/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production
